<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestDataGrid.Properties.Settings.ITOpsEngineeringConnectionString"
            connectionString="Data Source=kodiak;Initial Catalog=ITOpsEngineering;Persist Security Info=True;User ID=itops;Password=bear2016"
            providerName="System.Data.SqlClient" />
        <add name="TestDataGrid.Properties.Settings.BABWMstrDataConnectionString"
            connectionString="Data Source=kodiak;Initial Catalog=BABWMstrData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>